body {
  background: #1b1b1b;
  font-family: 'Arial', sans-serif;
  color: #fff;
}
#player {
  width: 280px;
  background: #2b2b2b;
  border: 2px solid #000;
  padding: 4px;
}
#display {
  background: #000;
  padding: 2px 4px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#controls {
  margin-top: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#controls button {
  background: none;
  border: none;
  margin-right: 2px;
  cursor: pointer;
}
#controls button img {
  width: 20px;
  height: 20px;
}
#progress {
  flex: 1 0 100%;
  margin-top: 4px;
}
#volume-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
  height: 70px;
}

#volume-container img {
  width: 16px;
  height: 16px;
}

#volume {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 70px;
  margin-left: 4px;
}
#playlist {
  list-style: none;
  padding: 0;
  margin-top: 6px;
  background: #1e1e1e;
  max-height: 150px;
  overflow-y: auto;
  font-size: 12px;
}
#playlist li {
  padding: 2px 4px;
  cursor: pointer;
}
#playlist li.active {
  background: #0066cc;
}
